body {
	background-color: #b6e3ea;
	text-transform: uppercase;
}
.content-top-block, header, .content-top, .content-lower, .content-lower-block, .footer-lower {
	border: 1px solid #000;
}

/*HEADER*/
.header-logo, .header-text {
	float:left;
}
header:after {
	content: "";
	display: table;
	clear: both;
}
.header-logo {
	width: 100px;
	height: 75px;
	background-color: #81aec1;
}
.header-text {
	line-height: 75px;
	display: inline-block;
	margin-left: 45px;
	max-width: 700px;
}

/*SIDEBAR*/
aside {
	float:left;
	width:300px;
}
.sidebar-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: left;
}
.sidebar-menu a {
	display: block;
	height: 20px;
	color: #000;
	text-decoration: none;
	padding: 10px;
	background-color: #19e093;
	border: 1px solid #00c67a; 
}

/*CONTENT*/
.content {
	margin-left: 300px;
}
.content-top, .content-lower {
	text-align: center;
}
.content-top {
	padding: 5px 5px 35px 5px;
}
.content-top-block {
	display: inline-block;
	width:200px;
	height: 100px;
	text-align: center;
	background-color: #ffc7b9;
	margin:10px;
	padding: 30px;
	position: relative;
}
.content-top-block:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.content-top-block-data {
	display: inline-block;
	vertical-align: middle;
	width: 90%;
}
.content-lower-block {
	display: inline-block;
	width: 250px;
	height: 120px;
	text-align: left;
	background-color: #ffc7b9;
	padding: 20px;
	margin: 15px 25px 15px 25px;
}
.content-lower-block:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.content-lower-block-data {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
}
.content-lower {
	padding: 5px 0;
}

/*FOOTER*/
.footer-top:after {
	content: "";
	display: table;
	clear: both;
}
.footer-top {
	background-color: #fdc500;
}
.footer-top-block {
	display: inline-block;
	width: 32%;
	text-align: center;
	padding: 15px 0;
	border-left: 1px solid #000;
}
.footer-top-block:last-child {
	float: right;
}
.footer-top-block:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.footer-top-block-data {
	display: inline-block;
	vertical-align: middle;
}
.footer-lower {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 15px 0;
}

/*DESIGN TAPE*/
.content-top-block:after {
	content: "";
	border-bottom: 18px solid #55aadd;
    border-left: 18px solid transparent;
    border-right: 19px solid transparent;
    height: 0;
    width: 42px;
    position: absolute;
    top: 12px;
    right:-20px;
    transform:rotate(46deg);
}







